<app-navigation></app-navigation>
<section class="section-content padding-y bg mt-4">
    <div class="container">

    <article class="card">
        <div class="card-body">
                <div class="row">
                    <aside class="col-md-6">
                            <article class="gallery-wrap">
                                <div class="card img-big-wrap">
                                    <a href="#"> <img class="image" [src]="product.primaryImage"></a>
                                </div> 
                                
                            </article> 
                        </aside>
                        <main class="col-md-6">
                            <article>
                                <a href="#" class="text-primary btn-link">{{product.category}}</a>
                                <h3 class="title">{{product.productName}}</h3>
                                <div>
                                    <!-- <ul class="rating-stars">
                                        <li  class="stars-active"> 
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                            <i class="fa fa-star"></i>  
                                            
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                            <i class="fa fa-star"></i> 
                                        </li>
                                    </ul> -->
                                    <!-- <span class="label-rating mr-3 text-muted">7/10</span> -->
                                    <a *ngIf="!checkAuthorization.isAdmin()" (click)="addToWishList(product)"  class="btn-link  mr-3 text-muted"> <i class="fa fa-heart"  style="color:#E91E63"></i> Add To WishList </a>
                                    <!-- <a href="#" class="btn-link text-muted"> <i class="fa fa-book-open"></i> Compare </a> -->
                                </div> 
        
                                <hr>
                                <div class="mb-3">
                                    <h6>Short description</h6>
                                    <ul class="list-dots mb-0">
                                        <li><b>Brand</b> : {{product.productName}}</li>                                        
                                        <li><b>model</b> : {{product.model}}</li>    
                                    </ul>
                                </div>
                                
                                <div class="form-group">
                                    <!-- <div>
                                        <label class="js-check btn btn-check active mr-1">
                                            <input type="radio" name="option_size" value="option1" checked="">
                                            <span>Small</span>
                                        </label>
                                        <label class="js-check btn btn-check mr-1">
                                            <input type="radio" name="option_size" value="option1">
                                            <span>Medium</span>
                                        </label>
                                        <label class="js-check btn btn-check mr-1">
                                            <input type="radio" name="option_size" value="option1">
                                            <span>Large</span>
                                        </label>
                                        <label class="js-check btn btn-check disabled">
                                            <input type="radio" name="option_size" disabled="" value="option1">
                                            <span>Babies</span>
                                        </label>  
                                    </div>             -->
                                </div>
        
                                <div class="mb-3">
                                    <var class="price h4">${{product.price}}</var> <br>
                                    <!-- <span class="monthly">$32.00 / monthly <a href="#" class="btn-link">installment </a></span> -->
                                </div> <!-- price-detail-wrap .// -->
        
                                <div class="mb-4">
                                    <!-- <a href="#" class="btn btn-primary mr-1">Buy now</a> -->
                                    <a *ngIf="!checkAuthorization.isAdmin()&&product.active" class="btn btn-light" (click)="addToCart(product)">Add to card</a>
                                </div>
                                
                            </article> 
                        </main> <!-- col.// -->
                    </div> <!-- row.// -->
            </div> <!-- card-body.// -->
        </article>
        <article class="card mt-5">
            <div class="card-body">
                <!-- <div class="row">
                    <aside class="col-md-6">
                        <h5>Parameters</h5>
                        <dl class="row">
                              <dt class="col-sm-3">Display</dt>
                              <dd class="col-sm-9">13.3-inch LED-backlit display with IPS</dd>
        
                              <dt class="col-sm-3">Processor</dt>
                              <dd class="col-sm-9">2.3GHz dual-core Intel Core i5</dd>
                              <dt class="col-sm-3">Camera</dt>
                              <dd class="col-sm-9">720p FaceTime HD camera</dd>
        
                              <dt class="col-sm-3">Memory</dt>
                              <dd class="col-sm-9">8 GB RAM or 16 GB RAM</dd>
                              
                              <dt class="col-sm-3">Graphics</dt>
                              <dd class="col-sm-9">Intel Iris Plus Graphics 640</dd>
                        </dl>
                    </aside>
                    <aside class="col-md-6">
                        <h5>Features</h5>
                        <ul class="list-check">
                            <li>Best performance of battery</li>
                            <li>5 years warranty for this product</li>
                            <li>Amazing features and high quality</li>
                            <li>Best performance of battery</li>
                            <li>5 years warranty for this product</li>
                        </ul>
                    </aside>
                </div>  -->
                <hr>
                <p>
                    {{product.description}}
                </p>
            </div> <!-- card-body.// -->
        </article>
        </div>
        
    
    </section>