<app-navigation></app-navigation>


<!-- <div class="row">

    <div class="col-md-3" *ngFor="let product of products">
        <div href="#" class="card card-product-grid">
            <a href="#" class="img-wrap"> <img [src]="product.primaryImage"> </a>
            <figcaption class="info-wrap">
                <a href="#" class="title">Just another product name</a>
                <div class="price mt-1">$179.00</div>
            </figcaption>
        </div>
    </div>

</div> -->
<br>
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <div class="row">
                    <div class="col-md-3" *ngFor="let product of products">
                        <figure class="card card-product-grid">
                            <div class="img-wrap">
                                <span><i class="fa fa-heart fa-2x" *ngIf="!checkAuthService.isAdmin()"
                                        (click)="addToWishList(product)" aria-hidden="true"></i></span>
                                <img [src]="product.primaryImage" (click)="openProduct(product)">
                            </div>
                            <figcaption class="info-wrap">
                                <div class="fix-height">
                                    <a class="title"
                                        (click)="openProduct(product)">{{product.productName.substr(0,35)}}...</a>
                                    <div class="price-wrap mt-2">
                                        Price : <span class="price">${{product.price}} </span><br>
                                        Actual Price : <del class="price-old"> ${{product.price*1.2|number :
                                            '1.2-2'}}</del>
                                    </div>
                                </div>
                                <a (click)="addToCart(product)"  *ngIf="!checkAuthService.isAdmin()" class="btn btn-block btn-primary">Add to cart </a>
                                <a href="#" class="btn btn-danger btn-block" *ngIf="checkAuthService.isAdmin()&&product.active" (click)="makeInActivate(product)">Make InActive</a>
                                <a href="#" class="btn btn-success btn-block" *ngIf="checkAuthService.isAdmin()&&!product.active" (click)="makeActivate(product)"> Make Active</a>

                            </figcaption>
                        </figure>
                    </div>

                </div> <!-- row end.// -->
            </main> <!-- col.// -->
        </div>
    </div> <!-- container .//  -->
</section>


<!-- <div class="offset-md-1 offset-lg-1 col-md-10 col-lg-10 ">
<div class="card card-product-list bg-light mt-2 m-2" *ngFor="let product of products" >
    <div class="row no-gutters ">
        <aside class="col-md-3">
            <a class="img-wrap" >
                
                <img class="card-image" (click)="openProduct(product)" [src]="product.primaryImage">
            </a>
        </aside>
        <div class="col-md-6">
            <div class="info-main">
                <a class="h5 title" (click)="openProduct(product)"> {{product.productName}}</a>
                <div class="rating-wrap mb-3">
                </div> 

                <p>{{product.description}}</p>
            </div>
        </div> 
        <aside class="col-sm-3">
            <div class="info-aside">
                <div class="price-wrap">
                    <span class="price h5"> ${{product.price}}</span>
                    <del class="price-old"> ${{product.price*1.2|number : '1.2-2'}}</del>
                </div> 
                <p class="text-success">Free shipping</p>
                <br>
                <p>
                    <a href="#" class="btn btn-danger btn-block" *ngIf="checkAuthService.isAdmin()&&product.active" (click)="makeInActivate(product)">Make InActive</a>
                    <a href="#" class="btn btn-success btn-block" *ngIf="checkAuthService.isAdmin()&&!product.active" (click)="makeActivate(product)"> {{product.active}} Make Active</a>
                    
                    <a href="" class="btn btn-primary btn-block" *ngIf="!checkAuthService.isAdmin()" (click)="addToCart(product)"> Add To Cart </a>
                    <a (click)="addToWishList(product)" class="btn btn-light btn-block" *ngIf="!checkAuthService.isAdmin()" (click)="addToWishList(product)"><i class="fa fa-heart"></i>
                        <span class="text">Add to wishlist</span>
                    </a>
                </p>
            </div> 
        </aside> 
    </div> 
</div>
</div> -->