<div class="modal-header">
    <h2 class="modal-title" id="exampleModalLabel">Login</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
        <form _ngcontent-pyw-c67 novalidate="" class="" [formGroup]="loginForm" (ngSubmit)="login()">
            <!-- Email Address -->
            <mdb-form-control _ngcontent-pyw-c67 class="mt-4 pl-2">
                <input _ngcontent-ybi-c67 mdbInput class="form-control ml-3 pl-3 pr-3 mr-3" formControlName="email"
                    id="formControlEmailId" placeholder="Example : abc@gmail.com" type="email" />
                <label mdbLabel class="form-label" for="formControlEmailId">Email ID</label>
            </mdb-form-control>
            <div *ngIf="loginForm.controls['email'].touched" style="font-size: 10px;">
                <label
                    [ngClass]="loginForm.controls['email'].hasError('required') ||loginForm.controls['email'].hasError('email') ? 'error-label text-danger' : 'error-label text-success'">
                    <i class="material-icons" style="font-size: 10px;">
                        {{ loginForm.controls['email'].hasError('required') ||loginForm.controls['email'].hasError('email')
                        ?'cancel' :'check_circle' }}
                    </i>
                    Enter valid email address
                </label>
            </div>
            <!-- Password -->
            <mdb-form-control class="mt-4">
                <input mdbInput class="form-control" formControlName="password" id="formControlPassword" type="password"
                    placeholder="lenght greated that 8, atleast 1 Numeric, 1 Uppercase, 1 Lowercase"
                    aria-label="readonly input example" [readonly]="false" />
                <label mdbLabel class="form-label" for="formControlPassword">Password</label>
            </mdb-form-control>
            <div *ngIf="loginForm.controls['password'].touched" style="font-size: 10px;">
                <label
                    [ngClass]="loginForm.controls['password'].hasError('required') ||loginForm.controls['password'].hasError('minlength') ? 'error-label text-danger' :'error-label text-success'">
                    <i class="material-icons" style="font-size: 10px;">
                        {{
                        loginForm.controls['password'].hasError('required')||loginForm.controls['password'].hasError('minlength')
                        ? 'cancel' :'check_circle' }}
                    </i>
                    Must be at least 8 characters!
                </label><br>
                <label
                    [ngClass]=" loginForm.controls['password'].hasError('required') ||loginForm.controls['password'].hasError('pattern') ? 'error-label text-danger' :'error-label text-success'">
                    <i class="material-icons" style="font-size: 10px;">
                        {{
                        loginForm.controls['password'].hasError('required')||loginForm.controls['password'].hasError('pattern')
                        ? 'cancel' :'check_circle' }}
                    </i>
                    include atleast 1 Capital letter,1 digit,1 special Character(#,@)!
                </label>
            </div>



        <div _ngcontent-pyw-c67="" class="row mb-4">
            <!-- <div _ngcontent-pyw-c67="" class="col-md-6 d-flex justify-content-center">
                <div _ngcontent-pyw-c67="" class="form-check mb-3 mb-md-0"><input _ngcontent-pyw-c67="" mdbcheckbox=""
                        type="checkbox" value="" id="loginCheck" checked="" class="form-check-input"><label
                        _ngcontent-pyw-c67="" for="loginCheck" class="form-check-label"> Remember me </label></div>
            </div> -->
            
        </div><button _ngcontent-pyw-c67="" type="submit" class="btn btn-primary btn-block mb-4" [disabled]="!loginForm.valid"> Sign in </button>
        <div _ngcontent-pyw-c67="" class="text-center">
            <p _ngcontent-pyw-c67="">Not a member? <a _ngcontent-pyw-c67="" (click)="openSignup()">Register</a></p>
        </div>
    </form>
</div>